@import "tailwindcss";

@theme {
  --color-primary: #F1F1E6;
  --color-secondary: #34606A;
  --color-tertiary: #D9D9D9;
  --font-primary: "Inter";
  --text-header: 4rem;
  --text-company: 3rem;
}

body {
  background: var(--color-primary);
}
